.btn-column {
    display: flex;
    align-items: flex-end;
}

.container {
    padding-top: 50px;
}

nav {
    display: flex;
    width: 100%;
    height: 100px;
    background: grey;
}

#ham {
    color: red;
    display: none;
}